{% macro render_field(field) %}
	<div class="form-group">
		{% if field.errors %}
			{% for error in field.errors %}
				<div class="notification error">{{ error }}</div>
			{% endfor %}
		{% endif %}
		<div class="row">
		{% if field.label.text == 'Csrf Token' %}

		{% else %}
			<div class="col-md-4"><label for="{{ field.label.text }}" >{{ field.label.text }}</label></div>
		{% endif %}

		<div class="col-md-8">{{ field(id=field.label.text, class='form-control') }}</div>
		</div>
	</div>
{% endmacro %}