{% extends 'base.html' %}
{% block content %}
            
            <div class="container">
                <h1 class="recientes">Mejores Puntuajes</h1>
                <table class="table table-striped">
                  <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Puntuaje</th>
                    <th>Comentario</th>
                    <th>Twitter</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Ejemplo</td>
                    <td>1920</td>
                    <td>Lorem ipsum epsum topsum hapsum...</td>
                    <td><a href="#">@Holahola</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Otro usuario</td>
                    <td>1720</td>
                    <td>Lorem ipsum epsum topsum hapsum...</td>
                    <td><a href="#">@OtroUsuario</a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Ela</td>
                    <td>1520</td>
                    <td>Lorem ipsum epsum topsum hapsum...</td>
                    <td><a href="#">@elale</a></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Ejemplo2</td>
                    <td>1320</td>
                    <td>Lorem ipsum epsum topsum hapsum...</td>
                    <td><a href="#">@abi38</a></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>usuario</td>
                    <td>1220</td>
                    <td>Lorem ipsum epsum topsum hapsum...</td>
                    <td><a href="#">@Otaetc</a></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Dacxn</td>
                    <td>920</td>
                    <td>Lorem ipsum epsum topsum hapsum...</td>
                    <td><a href="#">@asdasd</a></td>
                  </tr>
                </table>
        
        <hr class="pic-divider">
        <div class="container">
            <h2 class="recientes">Tweets Recientes</h2>
            <hr class="tweets-divider">
                <div class="row">
                   
                    <div class="col-md-4">
                        <img src="http://placehold.it/150x150">
                    </div>
                    <div class="col-md-8">
                        <blockquote>
                          <p><a href="#">#AccionesCiudadanas</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Alguien de tweeter <cite title="Source Title"><a href="#">@HolaHola</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
                    
            <hr class="tweets-divider">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/150x150">
                    </div>
                    <div class="col-md-8">
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. <a href="#">#AccionesCiudadanas</a></p>
                          <footer>Despues de realizar la accion ciudadana <cite title="Source Title"><a href="#">@Ale</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
            <hr class="tweets-divider">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/150x150">
                    </div>
                    <div class="col-md-8">
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, <a href="#">#AccionesCiudadanas</a> consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Comentarios anonimos <cite title="Source Title"><a href="#">@Anonymo</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
                
             <hr class="page-divider">
            <div class="container">
                <h2 class="recientes">Fotos Recientes</h2> 
                <div class="row">
                    <div class="col-md-4 pic">
                         <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>

                    <div class="col-md-4 pic">
                        <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>

                    <div class="col-md-4 pic">
                        <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>
                
                </div>
                
            <hr class="pic-divider">
                 <div class="row">
                    <div class="col-md-4 pic">
                         <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>

                    <div class="col-md-4 pic">
                        <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>

                    <div class="col-md-4 pic">
                        <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>
                
                </div>
             <hr class="pic-divider">
                 <div class="row">
                    <div class="col-md-4 pic">
                         <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>

                    <div class="col-md-4 pic">
                        <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>

                    <div class="col-md-4 pic">
                        <a href="#"><img src="http://placehold.it/380x380"></a>
                    </div>
                
                </div>
                    
                
                
                
            </div>   
    </div>
            
{% endblock %}         
            